.themeChangeDropdown {
    color: black;
}

.lightMode, .darkMode {
    color: black;
}

.lightMode {
    outline: -webkit-focus-ring-color auto 1px;
}

.lightMode:active, .darkMode:active {
    background-color: gray;
}


